@import "tailwindcss";

font[size="1"] { font-size: x-small; }
font[size="2"] { font-size: small; }
font[size="3"] { font-size: medium; }
font[size="4"] { font-size: large; }
font[size="5"] { font-size: x-large; }
font[size="6"] { font-size: xx-large; }
font[size="7"] { font-size: xxx-large; }

@page {
  size: 210mm 330mm; /* F4 paper size */
  margin: 0;
}

@media print {
  html, body {
    height: auto !important;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  #root {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}

