@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .print-container, .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
  }
  /* Hide scrollbars and extra padding during print */
  .overflow-hidden {
    overflow: visible !important;
  }
  .overflow-y-auto {
    overflow: visible !important;
  }
}
